IO_LOC "clk"  45;
IO_LOC "mosi" 31;
IO_LOC "miso" 40;
IO_LOC "sclk" 42;
IO_LOC "cs"   39;
IO_LOC "done" 32;

IO_PORT "clk"  IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_PORT "sclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "cs"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "done" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
